@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-3 py-3 border-bottom">
    <div class="row">
        <h1 class="display-4">Hi</h1>
    </div>
    <div class="row">

        <div class="col-lg-2">
            <img src="@Model.ProfilePictureSrc" alt="@Model.ProfilePictureSrc" width="200" />
        </div>

        <div class="col">
            <p class="text-center">
                I'm .Net developer based in Gliwice, Poland. I Specialize in WPF desctop applications.
            </p>
        </div>
    </div>
</div>

<div class="container my-3">
    <h4 class="text-center my-4">Projects</h4>

    <div class="row border-bottom">
        <div class="col">
            <div class="row">
                <img src="@Model.RumikAppSrc" alt="@Model.RumikAppSrc" width="200" />
            </div>
            <div class="row">
                <p class="text-center mt-4">RumikApp</p>
            </div>

            <div class="row">
                <p class="text-center">App allows user to browse, save and edit information about beverages. 
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RumikApp">More</a>
                    </p>
                
            </div>

        </div>

        <div class="col">
            <div class="row">
                <img src="@Model.ViToolsSrc" alt="@Model.ViToolsSrc" width="200" />
            </div>

            <div class="row">
                <p class="text-center mt-4"> ViTools</p>
            </div>

            <div class="row">
                <p class="text-center"> App allows user to duplicate a dataset and convert xml annotations to YOLO format in order to train model in darknet.</p>
                
            </div>

        </div>

        <div class="col">
            <div class="row">
                <img src="@Model.ExercisesSrc" alt="@Model.ExercisesSrc" width="200" />
            </div>
            <div class="row">
                <p class="text-center mt-4">Exercises</p>
            </div>
            <div class="row">
                <p class="text-center">This is the place where i store code used in any courses i do.</p>
            </div>
        </div>
    </div>

    <div class="row text-center mt-5">
        <div class="row">
            <h3>Social media</h3>
        </div>
        <div class="row">
            <div class="col">
                <a href="https://www.instagram.com/mikikarkowski/">instagram</a>
            </div>

            <div class="col">
                <a href="https://www.linkedin.com/in/miko%C5%82aj-karkowski-publicurl/">linkedin</a>
            </div>

            <div class="col">
                <a href="https://github.com/avresial">git</a>
            </div>
        </div>
    </div>
</div>

