@model IndexViewModel
@{
    ViewData["Title"] = "Mikołaj Karkowski";
}

<div class="row" id="CoverImage">
    <div class="row" style="height:60vh;">
        <div class="display-4 text-center" style="margin:auto;">
            <h1>Hi </h1>
            <h2 style="animation: fadeInAnimationDelay ease 2s;">I'm Mikołaj Karkowski </h2>
        </div>
    </div>
    <div class="row" style="color: white;">
        <p class="text-center opacity-50">
            Scroll down
        </p>

        <i class="bi bi-chevron-double-down m-auto opacity-75 text-center upAndDownAnimation"></i>
    </div>
</div>

<div class="container mb-3">
    <main role="main">
        <section class="text-center py-3 border-bottom tag">
            <div class="row" style="height:60vh;">

                <div class="col-lg-6" style="margin:auto;">
                    <h3>About me</h3>
                    <p>
                        I'm passionate .Net developer based in Gliwice, Poland with 2+ years of comertial experience. Currently employed as a desktop developer.
                        Using cutting edge AI technology I designed and coded a solution that conducts semi-automatic navigation for trains, therefore saves railway operator more than 50% of work.
                        I graduated from silesian university of technology with IT masters degree.
                        I aim to be backend .NET developer who happily works in a team and shares his knowladge.
                    </p>
                </div>
            </div>
        </section>

        <section class="container my-5 tag border-bottom">
            <h4 class="text-center my-4">Technologies</h4>

            <div class="row ">
                <div class="col text-center">
                    <div class="row text-center m-auto w-25">
                        <img src="Images/Icons/dotNetIcon.png" alt=".Net icon" class="img-responsive" />
                    </div>
                    <div class="row ">
                        <p class="text-center mt-4"> .NET Framework</p>
                    </div>
                </div>

                <div class="col text-center">
                    <a href="https://github.com/autofac/Autofac">
                        <div class="row text-center m-auto w-25">
                            <img src="https://raw.githubusercontent.com/autofac/autofac.github.com/8737b1213a85ad8157ab7958aeb560c7af5eb494/img/autofac_web-banner_character_fixed_width.svg" alt="@Model.DotNetIcon" class="img-responsive" />
                        </div>
                    </a>

                    <div class="row ">
                        <p class="text-center mt-4"> Autofac</p>
                    </div>
                </div>


                <div class="col text-center">
                    <div class="row text-center m-auto w-25">
                        <img src="Images/Icons/dotNetIcon.png" alt=".Net icon" class="img-responsive" />
                    </div>
                    <div class="row ">
                        <p class="text-center mt-4"> .NET 6</p>
                    </div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col text-center">
                    <a href="https://xunit.net/">
                        <div class="row text-center m-auto w-25">
                            <img src="https://xunit.net/images/full-logo.svg" alt="Xunit logo" class="img-responsive" />
                        </div>
                    </a>
                </div>

                <div class="col text-center">
                    <h5>MVVM & MVC </h5>
                </div>

                <div class="col text-center">
                    <h5>Moq</h5>
                </div>
            </div>
        </section>

        <section class="container my-5 tag">
            <h4 class="text-center my-4">Projects</h4>

            <div class="row border-bottom">
                <div class="col">
                    <div class="row">
                        <img src="@Model.RumikAppSrc" alt="@Model.RumikAppSrc" class="img-responsive" />
                    </div>
                    <div class="row">
                        <p class="text-center mt-4">RumikApp</p>
                    </div>

                    <div class="row">
                        <p class="text-center">
                            App allows user to browse, save and edit information about beverages.
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="RumikApp">More</a>
                        </p>

                    </div>

                </div>

                <div class="col">
                    <div class="row">
                        <img src="@Model.WebsiteSrc" alt="@Model.WebsiteSrc" class="img-responsive" />
                    </div>
                    <div class="row">
                        <p class="text-center mt-4">This website</p>
                    </div>
                    <div class="row">
                        <p class="text-center">
                            This is my personal site.
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Website">More</a>
                        </p>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <img src="@Model.ViToolsSrc" alt="@Model.ViToolsSrc" class="img-responsive" />
                    </div>

                    <div class="row">
                        <p class="text-center mt-4"> ViTools</p>
                    </div>

                    <div class="row">
                        <p class="text-center">
                            App allows user to duplicate a dataset and convert xml annotations to YOLO format in order to train model in darknet.
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="VITools">More</a>
                        </p>

                    </div>

                </div>
            </div>
        </section>

      @*   <section class="my-5 tag"> <!--  maybe some form -->
            <div class="row text-center tag">
                <div class="row text-center">
                    <h3>Contact me</h3>
                </div>
                <div class="row">
                    <p>Email mikikarkowski@gmail.com</p>
                </div>
            </div>
        </section>*@

        <section class="my-5 tag">
            <div class="row text-center mt-5 tag">
                <div class="row text-center">
                    <h3>Social media</h3>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <a href="https://www.instagram.com/mikikarkowski/" class="link-secondary">
                            <i class="bi bi-instagram green" style="font-size: 50px"></i>
                        </a>
                    </div>

                    <div class="col text-center">
                        <a href="https://www.linkedin.com/in/miko%C5%82aj-karkowski-publicurl/" class="link-secondary">
                            <i class="bi bi-linkedin" style="font-size: 50px"></i>
                        </a>
                    </div>

                    <div class="col text-center">
                        <a href="https://github.com/avresial" class="link-secondary ">
                            <i class="bi bi-github fa-6x" style="font-size: 50px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>